body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

header {
    background: #006937;
    color: white;
    padding: 20px;
    text-align: center;
}

#badgeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}


.badge {
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    cursor: pointer;
    transition: all 0.2s ease;
}

.badge:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.badge img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}


.badge h3 {
    margin-top: 10px;
}

#details{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
